/target/classes/png/backs/abstract.png
/target/classes/png/backs/abstract_clouds.png
/target/classes/png/backs/abstract_scene.png
/target/classes/png/backs/astronaut.png
/target/classes/png/backs/blue.png
/target/classes/png/backs/blue2.png
/target/classes/png/backs/blue2_h.png
/target/classes/Card.class
/target/classes/png/backs/castle.png
/target/classes/png/fronts/clubs_ace.png
/target/classes/png/fronts/clubs_eight.png
/target/classes/png/fronts/clubs_jack.png
/target/classes/png/fronts/clubs_king.png
/target/classes/png/fronts/clubs_nine.png
/target/classes/png/fronts/clubs_queen.png
/target/classes/png/fronts/clubs_seven.png
/target/classes/png/fronts/clubs_six.png
/target/classes/png/fronts/clubs_ten.png
/target/classes/Deck.class
/target/classes/png/fronts/diamonds_ace.png
/target/classes/png/fronts/diamonds_eight.png
/target/classes/png/fronts/diamonds_jack.png
/target/classes/png/fronts/diamonds_king.png
/target/classes/png/fronts/diamonds_nine.png
/target/classes/png/fronts/diamonds_queen.png
/target/classes/png/fronts/diamonds_seven.png
/target/classes/png/fronts/diamonds_six.png
/target/classes/png/fronts/diamonds_ten.png
/target/classes/Durak.class
/target/classes/Field.class
/target/classes/png/backs/frog.png
/target/classes/png/fronts/hearts_ace.png
/target/classes/png/fronts/hearts_eight.png
/target/classes/png/fronts/hearts_jack.png
/target/classes/png/fronts/hearts_king.png
/target/classes/png/fronts/hearts_nine.png
/target/classes/png/fronts/hearts_queen.png
/target/classes/png/fronts/hearts_seven.png
/target/classes/png/fronts/hearts_six.png
/target/classes/png/fronts/hearts_ten.png
/target/classes/MyGraphics$1.class
/target/classes/MyGraphics$2.class
/target/classes/MyGraphics.class
/target/classes/Player.class
/target/classes/Rank.class
/target/classes/png/backs/red.png
/target/classes/png/backs/red2.png
/target/classes/png/fronts/spades_ace.png
/target/classes/png/fronts/spades_eight.png
/target/classes/png/fronts/spades_jack.png
/target/classes/png/fronts/spades_king.png
/target/classes/png/fronts/spades_nine.png
/target/classes/png/fronts/spades_queen.png
/target/classes/png/fronts/spades_seven.png
/target/classes/png/fronts/spades_six.png
/target/classes/png/fronts/spades_ten.png
/target/classes/Suit.class
